body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 3em;
  color: #3498db;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.timeline-list {
  list-style: none;
  padding: 0;
}

.image {
  margin: auto;
  display: flex;
  justify-content: center;
}
@keyframes shrinkGrow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.id2:hover {
}

.timeline-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Title */
.id {
  display: flex;
  justify-content: space-between;
  background-color: #3498db;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.id:hover {
  background-color: #2980b9;
}

.title1 {
  flex: 1;
  margin-right: 10px;
}

.ttile {
  font-weight: bold;
  margin: 0;
}

.id2 {
  flex: 1;
  text-align: right;
}

.category {
  padding: 0em;
}

.timeline-item p {
  margin: 8px 0;
}

.timeline-item img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

audio {
  width: 100%;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
/* Audio  */
.audio__MainDiv {
  display: flex;
}
.audio__size {
  font-size: 1rem;
  padding: 3%;
}

@media (max-width: 600px) {
  .app-container {
    width: 28em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Info container */
.info-container {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.info-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.info-value {
  margin-bottom: 10px;
}
/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .info-container {
    padding: 5px;
  }

  .info-label,
  .info-value {
    font-size: 14px;
  }
}

/* icon */
.icon {
  max-width: 10%;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Category style */

.second-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
